.row {
  margin-bottom: 2%;
}
.mulai {
  text-decoration: none !important;
  color: white !important;
}
h2 {
  margin-top: 2%;
}
#content {
  margin-left: 2%;
  margin-right: 2%;
}
.content {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}
.btn-mulai {
  display: flex !important;
  justify-content: flex-end !important;
}
#Home {
  height: 100% !important;
  margin-bottom: 10%;
}
#deskripsi {
  height: 100% !important;
  margin-bottom: 10%;
}
#tentangkami {
  margin-bottom: 10%;
}
.img-karyawan {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
